/* reset */
html{margin:0; padding:0; background: #ddd; background-image: url("../images/bg3.png"); background-size: auto 100%;}
body{
    margin:0 auto !important; 
    font:normal 12px arial, sans-serif; 
    color:#333; overflow-x: hidden; overflow-y: hidden;
    background: rgb(68,68,67);
    background-size: auto 100%;
    height: 100%;
    position: fixed;
    width: 100%;
    font-family: tahoma;
}

img{border:none; max-height: 100%; max-width: 100%;
    image-rendering: -webkit-optimize-contrast;}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.modal {
    text-align: center;
    padding: 0!important;
}
.modal-body{
    padding: 0px !important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-ms-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-o-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}

#header{
    /*background-color: lightblue;*/
    width:100%;
    height:10%;
    text-align: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
    background: rgb(0,183,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */

}

#main{
    float:left;
    background-color: whitesmoke;
}
#main{
    width:100%;
    height: 80%;
}

#footer{
    clear:both;
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: lightblue;
}

#sidebar-left {
    float: left;
    width: 48%;
    border-right: 0.5em solid #0658ad;
    position: absolute;
    top: 0%;
    height: 100%;
    display:none;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4096ee+0,4096ee+100;Blue+Flat+%232 */
    background: rgb(64,150,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(64,150,238,1) 0%, rgba(64,150,238,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(64,150,238,1) 0%,rgba(64,150,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(64,150,238,1) 0%,rgba(64,150,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */

}

#ivolume{
    top: 10%;
    left: 5%;
    z-index: 999;
    position: absolute;
    color: #ddd9df;
}
#ithumbsup{
    top: 100%;
    left: 55%;
    z-index: 999;
    position: absolute;
    color: #ddd9df !important;
}
#imgDiv{
    width: 80%;
    margin: 0 10%;
    text-align: center;
    line-height: 0;
    height: 100%;
}
.invisible{
    background-color: inherit;
    color: inherit;
}
.font{
    font-family: tahoma;
}
.modal-dialog{
    text-align: center;
    font-family: tahoma;
    font-size: 21px;
    /*    background-color: #98E2FF;
        background-image: linear-gradient( #F5F0F3, #5A89D0 );
        border: 4px solid #DCDFE2;   */
    width: 90% !important;
}
.msgAdblock{
    background-color: #FF9898;
    border-bottom: 10px solid #DC8686;    
}
.modal-content{
    padding: 4%;
}

#sidebar-left .clsMenu{
    height: 7%;
    text-align: center;
    background-color: #0051a5;
    font-size: 2em;
    color: white;
    font-weight: bold;
}